Repository edelwud/terraci: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint, go-build, go-test, generate-schema, goreleaser-check

go-fmt:
  name: go fmt
  entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" gofmt -l -w $(find . -name "*.go" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-imports:
  name: go imports
  entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" goimports -l -w $(find . -name "*.go" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" go mod tidy'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" golangci-lint run --timeout=5m'
  language: system
  pass_filenames: false

go-build:
  name: go build
  entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" go build ./...'
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" go test -race -short ./...'
  language: system
  pass_filenames: false

generate-schema:
  name: generate schema
  entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" go build -o /tmp/terraci ./cmd/terraci && /tmp/terraci schema -o terraci.schema.json && git add terraci.schema.json'
  language: system
  pass_filenames: false

goreleaser-check:
  name: goreleaser check
  entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" goreleaser check'
  language: system
  pass_filenames: false

fix: resolve golangci-lint issues
  cmd/terraci/cmd/generate.go
  cmd/terraci/cmd/graph.go
  cmd/terraci/cmd/init.go
  cmd/terraci/cmd/root.go
  cmd/terraci/cmd/validate.go
  cmd/terraci/cmd/version.go
  internal/discovery/module_test.go
  internal/filter/glob.go
  internal/git/diff.go
  internal/graph/dependency.go
  internal/graph/dependency_test.go
  internal/parser/dependency.go
  internal/parser/hcl.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

chore: add trailing newlines and schema reference
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .terraci.example.yaml
  docs/package.json
Due: none

feat(cli): add structured logging with caarlos0/log
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .terraci.example.yaml
  cmd/terraci/cmd/generate.go
  cmd/terraci/cmd/graph.go
  cmd/terraci/cmd/init.go
  cmd/terraci/cmd/root.go
  cmd/terraci/cmd/validate.go
  docs/package.json
  go.mod
  go.sum
  pkg/log/log.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint, go-build, go-test

fix(parser): resolve dynamic for_each paths using tfvars
  .terraci.example.yaml
  internal/parser/dependency.go
  internal/parser/hcl.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

feat(cli): improve output formatting and add schema reference
  cmd/terraci/cmd/graph.go
  cmd/terraci/cmd/root.go
  pkg/config/config.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

fix(graph): make --module filter graph scope instead of just showing deps
  cmd/terraci/cmd/graph.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

feat(graph): add PlantUML output format
  cmd/terraci/cmd/graph.go
  internal/graph/dependency.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

feat(cli): add shell completion support
  .gitignore
  .goreleaser.yaml
  cmd/terraci/cmd/completion.go
  cmd/terraci/cmd/root.go
  scripts/generate-completions.sh
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, goreleaser-check

feat(cli): add man page generation support
  .gitignore
  .goreleaser.yaml
  cmd/terraci/cmd/man.go
  cmd/terraci/cmd/root.go
  go.mod
  go.sum
  scripts/generate-manpages.sh
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint, go-build, go-test, goreleaser-check

feat(release): add homebrew cask and improve release config
  .goreleaser.yaml
  cmd/terraci/cmd/man.go
  scripts/generate-completions.sh
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, goreleaser-check

fix: zsh completion
  .goreleaser.yaml
  scripts/generate-completions.sh
Due: goreleaser-check

ci(release): use GH_PAT for homebrew tap publishing
  .github/workflows/release.yml
Due: none

fix(release): correct homebrew cask paths for wrapped archives
  .goreleaser.yaml
Due: goreleaser-check

fix: license path
  .goreleaser.yaml
Due: goreleaser-check

fix: homebrew cask generation
  .goreleaser.yaml
Due: goreleaser-check

fix: homebrew cask manpages
  .goreleaser.yaml
Due: goreleaser-check

feat: add nfpms generation
  .goreleaser.yaml
Due: goreleaser-check

feat: add nfpms manpages copying
  .goreleaser.yaml
Due: goreleaser-check

fix(generate): filter needs to only include modules with generated jobs
  internal/pipeline/gitlab/generator.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

feat(generate): add --plan-only flag for plan-only pipelines
  CLAUDE.md
  cmd/terraci/cmd/generate.go
  internal/pipeline/gitlab/generator.go
  pkg/config/config.go
  terraci.schema.json
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

fix(generate): plan jobs depend on plan jobs in plan-only mode
  internal/pipeline/gitlab/generator.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

test: add e2e tests for pipeline generation
  test/e2e/pipeline_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

test: add fixtures and helpers for e2e testing
  test/e2e/fixture_test.go
  test/e2e/helpers_test.go
  test/e2e/testdata/basic/.terraci.yaml
  test/e2e/testdata/basic/platform/prod/eu-central-1/vpc/main.tf
  test/e2e/testdata/basic/platform/stage/eu-central-1/app/main.tf
  test/e2e/testdata/basic/platform/stage/eu-central-1/eks/main.tf
  test/e2e/testdata/basic/platform/stage/eu-central-1/rds/main.tf
  test/e2e/testdata/basic/platform/stage/eu-central-1/s3/main.tf
  test/e2e/testdata/basic/platform/stage/eu-central-1/vpc/main.tf
  test/e2e/testdata/cyclic/.terraci.yaml
  test/e2e/testdata/cyclic/svc/env/region/a/main.tf
  test/e2e/testdata/cyclic/svc/env/region/b/main.tf
  test/e2e/testdata/cyclic/svc/env/region/c/main.tf
  test/e2e/testdata/submodules/.terraci.yaml
  test/e2e/testdata/submodules/svc/stage/eu-central-1/base/main.tf
  test/e2e/testdata/submodules/svc/stage/eu-central-1/ec2/web/main.tf
  test/e2e/testdata/submodules/svc/stage/eu-central-1/ec2/worker/main.tf
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

test: add edge case tests for pipeline generation
  test/e2e/edge_cases_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor: consolidate duplicate code and split large functions
  cmd/terraci/cmd/generate.go
  cmd/terraci/cmd/validate.go
  internal/filter/glob.go
  internal/pipeline/gitlab/generator.go
  pkg/config/config.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

refactor(gitlab): extract pipeline types to separate file
  internal/pipeline/gitlab/generator.go
  internal/pipeline/gitlab/types.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

test(gitlab): add comprehensive unit tests for generator
  internal/pipeline/gitlab/generator_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

test: add unit tests for parser and config packages
  internal/parser/dependency_test.go
  internal/parser/hcl_test.go
  pkg/config/config_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

refactor(parser): remove unused PathPatternMatcher code
  internal/parser/dependency.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor: phase 4 technical debt cleanup
  internal/parser/hcl.go
  internal/pipeline/gitlab/generator.go
  internal/terraform/eval/context.go
  internal/terraform/eval/context_test.go
  internal/terraform/eval/functions.go
  internal/terraform/eval/functions_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  terraci.schema.json
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

feat(gitlab): add MR integration with comments and labels
  internal/gitlab/client.go
  internal/gitlab/client_test.go
  internal/gitlab/comment.go
  internal/gitlab/comment_test.go
  internal/gitlab/mr_service.go
  internal/gitlab/mr_service_test.go
  pkg/config/config.go
  terraci.schema.json
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

feat(gitlab): add MR summary job and plan result collection
  cmd/terraci/cmd/save_plan_result.go
  cmd/terraci/cmd/summary.go
  internal/gitlab/plan_result.go
  internal/gitlab/plan_result_test.go
  internal/pipeline/gitlab/generator.go
  internal/pipeline/gitlab/generator_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor(gitlab): simplify plan result collection via plan.txt artifacts
  cmd/terraci/cmd/save_plan_result.go
  cmd/terraci/cmd/summary.go
  internal/gitlab/plan_result.go
  internal/gitlab/plan_result_test.go
  internal/pipeline/gitlab/generator.go
  internal/pipeline/gitlab/generator_test.go
  pkg/config/config.go
  terraci.schema.json
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

chore: remove dead code and add MR integration docs
  docs/config/gitlab-mr.md
  docs/ru/config/gitlab-mr.md
  internal/gitlab/plan_result.go
  internal/gitlab/plan_result_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

chore: remove more dead code from gitlab package
  internal/gitlab/client.go
  internal/gitlab/mr_service.go
  internal/gitlab/mr_service_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor(gitlab): replace custom HTTP client with official gitlab client-go
  go.mod
  go.sum
  internal/gitlab/client.go
  internal/gitlab/client_test.go
  internal/gitlab/comment.go
  internal/gitlab/comment_test.go
  internal/gitlab/mr_service.go
  internal/gitlab/mr_service_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint, go-build, go-test

docs: update README and documentation structure
  README.md
  docs/.vitepress/config.mts
  docs/cli/summary.md
  docs/guide/getting-started.md
  docs/index.md
  docs/ru/cli/summary.md
  docs/ru/guide/getting-started.md
  docs/ru/index.md
Due: none

docs: reorganize GitLab config as subgroup in sidebar
  docs/.vitepress/config.mts
Due: none

docs: add examples and improve documentation
  docs/.vitepress/config.mts
  docs/cli/index.md
  docs/guide/getting-started.md
  docs/guide/how-it-works.md
  docs/index.md
  docs/ru/cli/index.md
  docs/ru/guide/getting-started.md
  docs/ru/guide/how-it-works.md
  docs/ru/index.md
  examples/.gitlab-ci.yml
  examples/.terraci.yaml
  examples/README.md
Due: none

docs: update CLAUDE.md with gitlab package and examples
  CLAUDE.md
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  golangci-lint: any of: \.go$
  go-build: any of: \.go$
  go-test: any of: \.go$
  generate-schema: any of: pkg/config/.*\.go$
  goreleaser-check: any of: \.goreleaser\.yaml$
