Repository edelwud/terraci: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint, go-build, go-test, generate-schema, goreleaser-check

.pre-commit-config.yaml:

# yaml-language-server: $schema=https://json.schemastore.org/pre-commit-config.json
repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: 'terraci.schema.json'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Local hooks (using explicit PATH for Homebrew Go)
  - repo: local
    hooks:
      # Go formatting
      - id: go-fmt
        name: go fmt
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" gofmt -l -w $(find . -name "*.go" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      # Go imports
      - id: go-imports
        name: go imports
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" goimports -l -w $(find . -name "*.go" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      # Go mod tidy
      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" go mod tidy'
        language: system
        pass_filenames: false
        files: 'go\.mod$'

      # golangci-lint
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" golangci-lint run --timeout=5m'
        language: system
        pass_filenames: false
        types: [go]

      # Go build check
      - id: go-build
        name: go build
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" go build ./...'
        language: system
        pass_filenames: false
        types: [go]

      # Go tests
      - id: go-test
        name: go test
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" go test -race -short ./...'
        language: system
        pass_filenames: false
        types: [go]

      # Generate JSON schema
      - id: generate-schema
        name: generate schema
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" go build -o /tmp/terraci ./cmd/terraci && /tmp/terraci schema -o terraci.schema.json && git add terraci.schema.json'
        language: system
        pass_filenames: false
        files: 'pkg/config/.*\.go$'

      # goreleaser check
      - id: goreleaser-check
        name: goreleaser check
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" goreleaser check'
        language: system
        pass_filenames: false
        files: '\.goreleaser\.yaml$'

docs: update cost engine terminology and resource list after refactoring
  docs/cli/cost.md
  docs/config/cost.md
Due: none

docs: update CLAUDE.md cost engine internal structure
  AGENTS.md
Due: none

Add advanced GitLab cache options
  docs/config/gitlab.md
  docs/ru/config/gitlab.md
  plugins/gitlab/internal/config/config.go
  plugins/gitlab/internal/generate/job_builder.go
  plugins/gitlab/internal/generate/job_builder_test.go
  plugins/gitlab/internal/generate/settings.go
  plugins/gitlab/internal/generate/test_types_test.go
  plugins/gitlab/plugin.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

chore: update docs
  AGENTS.md
  README.md
  docs/.vitepress/config.mts
  docs/cli/index.md
  docs/cli/tfupdate.md
  docs/config/index.md
  docs/config/tfupdate.md
  docs/config/update.md
  docs/guide/plugins.md
  docs/plugins/index.md
  docs/ru/cli/tfupdate.md
  docs/ru/cli/update.md
  docs/ru/config/index.md
  docs/ru/config/tfupdate.md
  docs/ru/config/update.md
  docs/ru/guide/plugins.md
  docs/ru/plugins/index.md
Due: none

fix(tfupdate): correct constraint ordering and stale hash accumulation
  plugins/tfupdate/internal/lockfile/service_write.go
  plugins/tfupdate/internal/versionkit/constraints.go
  plugins/tfupdate/internal/versionkit/version_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor: tighten local-exec dependency boundaries
  pkg/workflow/targets.go
  pkg/workflow/targets_test.go
  plugins/localexec/internal/flow/usecase.go
  plugins/localexec/internal/planner/builder.go
  plugins/localexec/internal/planner/builder_test.go
  plugins/localexec/internal/runner/command.go
  plugins/localexec/internal/runner/env.go
  plugins/localexec/internal/runner/env_test.go
  plugins/localexec/internal/runner/job.go
  plugins/localexec/internal/runner/job_test.go
  plugins/localexec/internal/runner/terraform.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor: tighten local-exec architecture and report provenance
  pkg/ci/report_test.go
  pkg/ci/types.go
  pkg/ci/types_test.go
  pkg/execution/executor_test.go
  pkg/execution/scheduler.go
  pkg/pipeline/common.go
  pkg/pipeline/common_test.go
  plugins/github/internal/generate/generator.go
  plugins/gitlab/internal/generate/generator.go
  plugins/localexec/commands.go
  plugins/localexec/commands_test.go
  plugins/localexec/internal/flow/usecase.go
  plugins/localexec/internal/flow/usecase_test.go
  plugins/localexec/internal/planner/builder.go
  plugins/localexec/internal/planner/builder_test.go
  plugins/localexec/internal/render/report_loader.go
  plugins/localexec/internal/render/report_loader_test.go
  plugins/summary/commands_test.go
  plugins/summary/helpers_test.go
  plugins/summary/internal/config.go
  plugins/summary/internal/renderer.go
  plugins/summary/internal/renderer_test.go
  plugins/summary/usecases.go
  test/testdata/with-reports/.terraci/summary-report.json
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

docs: update AGENTS for local-exec architecture
  AGENTS.md
Due: none

Tighten plugin and workflow boundaries
  cmd/terraci/cmd/generate.go
  cmd/terraci/cmd/generate_test.go
  pkg/config/config.go
  pkg/parser/internal/dependency/engine.go
  pkg/parser/internal/dependency/engine_test.go
  pkg/parser/internal/moduleparse/moduleparse_test.go
  pkg/parser/internal/moduleparse/types.go
  pkg/plugin/registry/registry_test.go
  pkg/plugin/registry/resolve.go
  pkg/plugin/reports.go
  pkg/plugin/reports_test.go
  pkg/workflow/targets.go
  pkg/workflow/targets_test.go
  plugins/localexec/internal/targeting/workflow.go
  plugins/localexec/internal/targeting/workflow_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

Instantiate plugins per app run
  cmd/terraci/cmd/app.go
  cmd/terraci/cmd/generate.go
  cmd/terraci/cmd/init.go
  cmd/terraci/cmd/init_test.go
  cmd/terraci/cmd/init_tui.go
  cmd/terraci/cmd/root.go
  cmd/terraci/cmd/schema.go
  cmd/terraci/cmd/version.go
  examples/external-plugin/plugin.go
  pkg/plugin/context.go
  pkg/plugin/plugintest/helpers.go
  pkg/plugin/registry/registry.go
  pkg/plugin/registry/registry_test.go
  pkg/plugin/registry/resolve.go
  plugins/cost/plugin.go
  plugins/cost/runtime.go
  plugins/diskblob/plugin.go
  plugins/git/plugin.go
  plugins/github/generator.go
  plugins/github/plugin.go
  plugins/gitlab/generator.go
  plugins/gitlab/plugin.go
  plugins/inmemcache/plugin.go
  plugins/localexec/internal/planner/builder.go
  plugins/localexec/internal/targeting/workflow.go
  plugins/localexec/internal/targeting/workflow_test.go
  plugins/localexec/plugin.go
  plugins/policy/plugin.go
  plugins/summary/plugin.go
  plugins/summary/usecases.go
  plugins/tfupdate/plugin.go
  plugins/tfupdate/runtime.go
  test/plugin_contracts_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

Narrow plugin resolver boundaries
  AGENTS.md
  cmd/terraci/cmd/app.go
  cmd/terraci/cmd/generate.go
  docs/plugins/provider-plugin.md
  docs/ru/plugins/provider-plugin.md
  pkg/plugin/ci_provider.go
  pkg/plugin/context.go
  pkg/plugin/context_test.go
  pkg/plugin/doc.go
  pkg/plugin/registry/registry_test.go
  pkg/plugin/resolution.go
  pkg/plugin/resolution_test.go
  plugins/cost/runtime.go
  plugins/github/generator.go
  plugins/gitlab/generator.go
  plugins/localexec/internal/flow/usecase.go
  plugins/localexec/internal/flow/usecase_test.go
  plugins/localexec/internal/planner/builder.go
  plugins/localexec/internal/planner/builder_test.go
  plugins/localexec/internal/targeting/workflow.go
  plugins/localexec/internal/targeting/workflow_test.go
  plugins/summary/usecases.go
  plugins/tfupdate/runtime.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

Decouple workflow target selection from plugin context
  cmd/terraci/cmd/generate.go
  cmd/terraci/cmd/generate_test.go
  pkg/plugin/change.go
  pkg/plugin/plugintest/mocks.go
  pkg/plugin/registry/registry_test.go
  pkg/workflow/targets.go
  pkg/workflow/targets_test.go
  plugins/git/detect.go
  plugins/localexec/internal/targeting/workflow.go
  plugins/localexec/internal/targeting/workflow_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

Harden pipeline and CI artifact contracts
  pkg/ci/report.go
  pkg/ci/report_test.go
  pkg/ci/types.go
  pkg/execution/executor.go
  pkg/execution/executor_test.go
  pkg/execution/plan.go
  pkg/pipeline/builder.go
  pkg/pipeline/builder_test.go
  pkg/pipeline/validate.go
  plugins/localexec/internal/render/report_loader_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

Reshape pkg CI and pipeline contracts
  pkg/ci/plan.go
  pkg/ci/report_types.go
  pkg/ci/report_validation.go
  pkg/ci/types.go
  pkg/execution/plan.go
  pkg/pipeline/builder_test.go
  pkg/pipeline/common.go
  pkg/pipeline/jobs.go
  pkg/pipeline/types.go
  pkg/pipeline/validate.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

Split config package responsibilities
  pkg/config/clone.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/config/doc.go
  pkg/config/io.go
  pkg/config/plugin_config.go
  pkg/config/types_config.go
  pkg/config/validation.go
  terraci.schema.json
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

Group workflow modules with indexes
  cmd/terraci/cmd/generate.go
  cmd/terraci/cmd/generate_test.go
  cmd/terraci/cmd/graph.go
  pkg/workflow/module_workflow.go
  pkg/workflow/module_workflow_test.go
  pkg/workflow/targets.go
  pkg/workflow/targets_test.go
  plugins/localexec/internal/flow/usecase_test.go
  plugins/localexec/internal/planner/builder.go
  plugins/localexec/internal/planner/builder_test.go
  plugins/localexec/internal/targeting/workflow_test.go
  plugins/tfupdate/usecases.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

Move plan result scanning out of discovery
  AGENTS.md
  docs/plugins/command-plugin.md
  pkg/planresults/modules.go
  pkg/planresults/scanner.go
  pkg/planresults/scanner_test.go
  plugins/cost/internal/cloud/aws/rds/instance.go
  plugins/cost/usecases.go
  plugins/localexec/internal/render/report_loader.go
  plugins/localexec/internal/render/report_loader_test.go
  plugins/summary/usecases.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

Split plugin context binding responsibilities
  pkg/plugin/command_binding.go
  pkg/plugin/context.go
  pkg/plugin/context_binding.go
  pkg/plugin/resolver.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

Tighten command-scoped plugin resolution
  examples/external-plugin/commands.go
  pkg/plugin/command_binding.go
  pkg/plugin/context_test.go
  pkg/plugin/registry/registry.go
  pkg/plugin/registry/resolve.go
  pkg/plugin/source.go
  plugins/cost/commands.go
  plugins/policy/commands.go
  plugins/summary/commands.go
  plugins/tfupdate/commands.go
  plugins/tfupdate/commands_test.go
  plugins/tfupdate/helpers_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

Extract plugin factory catalog
  pkg/plugin/registry/registry.go
  pkg/plugin/registry/registry_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

Bind app context to plugin resolver
  cmd/terraci/cmd/app.go
  cmd/terraci/cmd/app_test.go
  pkg/plugin/plugintest/helpers.go
  plugins/localexec/internal/targeting/workflow_test.go
  test/lifecycle_test.go
  test/plugin_contracts_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

Remove built-in plugin names from pkg contracts
  pkg/cache/blobcache/cache_test.go
  pkg/pipeline/builder.go
  pkg/pipeline/builder_test.go
  pkg/pipeline/types.go
  pkg/plugin/enable.go
  pkg/plugin/initwiz/types.go
  pkg/plugin/plugin.go
  plugins/gitlab/internal/generate/generator_features_test.go
  plugins/gitlab/internal/generate/planner_test.go
  plugins/localexec/internal/render/output_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

Use neutral plugin fixtures in pkg tests
  pkg/ci/report_test.go
  pkg/config/builder_test.go
  pkg/plugin/reports_test.go
  terraci.schema.json
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

Restore unchanged generated schema
  terraci.schema.json
Due: none

Drop plugin-specific core error types
  pkg/ci/report_types.go
  pkg/config/types_config.go
  pkg/errors/errors.go
  pkg/errors/errors_test.go
  pkg/plugin/initwiz/types.go
  terraci.schema.json
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

Generalize CI estimate report schema
  pkg/ci/plan.go
  pkg/ci/report_test.go
  pkg/ci/report_types.go
  pkg/ci/report_validation.go
  pkg/ci/types_test.go
  pkg/plugin/reports.go
  plugins/cost/commands_test.go
  plugins/cost/internal/model/formatting.go
  plugins/cost/internal/model/types_test.go
  plugins/cost/output.go
  plugins/cost/report.go
  plugins/localexec/internal/render/summary.go
  plugins/localexec/internal/render/summary_test.go
  plugins/summary/helpers_test.go
  plugins/summary/internal/enrich.go
  plugins/summary/internal/renderer.go
  plugins/summary/internal/renderer_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

Move cost report data behind plugin payload
  pkg/ci/plan.go
  pkg/ci/report_test.go
  pkg/ci/report_types.go
  pkg/ci/report_validation.go
  pkg/ci/types_test.go
  pkg/plugin/reports.go
  plugins/cost/commands_test.go
  plugins/cost/internal/model/formatting.go
  plugins/cost/internal/model/types_test.go
  plugins/cost/output.go
  plugins/cost/report.go
  plugins/localexec/internal/render/cost_payload.go
  plugins/localexec/internal/render/summary.go
  plugins/localexec/internal/render/summary_test.go
  plugins/summary/helpers_test.go
  plugins/summary/internal/cost_payload.go
  plugins/summary/internal/enrich.go
  plugins/summary/internal/renderer.go
  plugins/summary/internal/renderer_test.go
  plugins/summary/usecases.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor(pkg): unify PlanResult, expose stage constants, document scheduler barrier
  pkg/ci/plan.go
  pkg/ci/types_test.go
  pkg/execution/scheduler.go
  pkg/pipeline/types.go
  pkg/planresults/scanner_test.go
  plugins/cost/internal/engine/batch.go
  plugins/cost/internal/engine/batch_test.go
  plugins/cost/internal/engine/executor.go
  plugins/cost/internal/engine/scanner.go
  plugins/cost/internal/engine/scanner_test.go
  plugins/cost/internal/engine/terraform_adapter.go
  plugins/summary/internal/renderer.go
  plugins/summary/internal/renderer_test.go
  plugins/summary/usecases.go
  plugins/tfupdate/internal/domain/plan.go
  plugins/tfupdate/internal/planner/solver.go
  plugins/tfupdate/internal/usecase/service.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor(pkg)!: rebind pipeline.Generator to a pre-built IR
  cmd/terraci/cmd/generate.go
  pkg/pipeline/pipeline.go
  pkg/plugin/ci_provider.go
  pkg/plugin/registry/registry_test.go
  plugins/github/generator.go
  plugins/github/internal/generate/buildir.go
  plugins/github/internal/generate/generator.go
  plugins/github/internal/generate/job_builder.go
  plugins/github/internal/generate/scenario_test.go
  plugins/github/internal/generate/testhelpers_test.go
  plugins/gitlab/generator.go
  plugins/gitlab/internal/generate/buildir.go
  plugins/gitlab/internal/generate/fixture_scenario_test.go
  plugins/gitlab/internal/generate/generator.go
  plugins/gitlab/internal/generate/generator_features_test.go
  plugins/gitlab/internal/generate/generator_output_test.go
  plugins/gitlab/internal/generate/generator_smoke_test.go
  plugins/gitlab/internal/generate/integration_edge_cases_test.go
  plugins/gitlab/internal/generate/integration_helpers_test.go
  plugins/gitlab/internal/generate/planner.go
  plugins/gitlab/internal/generate/scenario_test.go
  plugins/gitlab/internal/generate/testhelpers_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor(pkg): tighten api surface across log, filter, discovery, pipeline
  pkg/discovery/index.go
  pkg/discovery/index_test.go
  pkg/filter/glob.go
  pkg/filter/glob_test.go
  pkg/log/log.go
  pkg/pipeline/builder.go
  pkg/pipeline/common.go
  pkg/pipeline/common_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor(pkg)!: drop execution.Plan wrapper, fold into pipeline.IR
  pkg/execution/executor.go
  pkg/execution/executor_test.go
  pkg/execution/plan.go
  pkg/execution/scheduler.go
  pkg/pipeline/jobs.go
  plugins/localexec/internal/flow/usecase_test.go
  plugins/localexec/internal/planner/builder.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor(pkg): remove workflow.ChangeDetector duplicate, extract cishell renderer
  pkg/pipeline/cishell/render.go
  pkg/pipeline/cishell/render_test.go
  pkg/pipeline/scripts.go
  pkg/workflow/targets.go
  plugins/github/internal/generate/job_builder.go
  plugins/gitlab/internal/generate/job_builder.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor(pkg/config): drop unused Config.Clone
  pkg/config/clone.go
  pkg/config/config_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema
