Repository edelwud/terraci: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint, go-build, go-test, generate-schema, goreleaser-check

.pre-commit-config.yaml:

# yaml-language-server: $schema=https://json.schemastore.org/pre-commit-config.json
repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: 'terraci.schema.json'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Local hooks (using explicit PATH for Homebrew Go)
  - repo: local
    hooks:
      # Go formatting
      - id: go-fmt
        name: go fmt
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" gofmt -l -w $(find . -name "*.go" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      # Go imports
      - id: go-imports
        name: go imports
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" goimports -l -w $(find . -name "*.go" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      # Go mod tidy
      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" go mod tidy'
        language: system
        pass_filenames: false
        files: 'go\.mod$'

      # golangci-lint
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" golangci-lint run --timeout=5m'
        language: system
        pass_filenames: false
        types: [go]

      # Go build check
      - id: go-build
        name: go build
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" go build ./...'
        language: system
        pass_filenames: false
        types: [go]

      # Go tests
      - id: go-test
        name: go test
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" go test -race -short ./...'
        language: system
        pass_filenames: false
        types: [go]

      # Generate JSON schema
      - id: generate-schema
        name: generate schema
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" go build -o /tmp/terraci ./cmd/terraci && /tmp/terraci schema -o terraci.schema.json && git add terraci.schema.json'
        language: system
        pass_filenames: false
        files: 'pkg/config/.*\.go$'

      # goreleaser check
      - id: goreleaser-check
        name: goreleaser check
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" goreleaser check'
        language: system
        pass_filenames: false
        files: '\.goreleaser\.yaml$'

fix: clear CI env vars in all integration test helpers
  test/helpers_test.go
  test/lifecycle_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

fix: track test fixture .terraci/ report files in git
  .gitignore
  test/testdata/with-reports/.terraci/cost-report.json
  test/testdata/with-reports/.terraci/policy-report.json
Due: none

build: migrate from Makefile to Taskfile with modular task organization
  .claude/commands/build.md
  .claude/commands/check.md
  .claude/commands/lint.md
  .claude/commands/security.md
  .claude/commands/test.md
  .claude/commands/verify.md
  .github/workflows/build.yml
  .gitignore
  .taskfiles/build.yml
  .taskfiles/ci.yml
  .taskfiles/dev.yml
  .taskfiles/docker.yml
  .taskfiles/docs.yml
  .taskfiles/lint.yml
  .taskfiles/release.yml
  .taskfiles/test.yml
  AGENTS.md
  Makefile
  Taskfile.yml
  go.mod
  go.sum
Due: go-mod-tidy

fix: add local Docker build with cross-compilation for linux
  .taskfiles/docker.yml
  Dockerfile.local
Due: none

feat: add update plugin with comprehensive test coverage
  cmd/terraci/main.go
  cmd/xterraci/cmd/plugins.go
  go.mod
  pkg/parser/hcl.go
  pkg/parser/types.go
  plugins/update/commands.go
  plugins/update/commands_test.go
  plugins/update/helpers_test.go
  plugins/update/init_wizard.go
  plugins/update/init_wizard_test.go
  plugins/update/internal/checker.go
  plugins/update/internal/checker_test.go
  plugins/update/internal/config.go
  plugins/update/internal/config_test.go
  plugins/update/internal/registry.go
  plugins/update/internal/registry_test.go
  plugins/update/internal/types.go
  plugins/update/internal/version.go
  plugins/update/internal/version_test.go
  plugins/update/internal/writer.go
  plugins/update/internal/writer_test.go
  plugins/update/lifecycle.go
  plugins/update/lifecycle_test.go
  plugins/update/output.go
  plugins/update/output_test.go
  plugins/update/pipeline.go
  plugins/update/pipeline_test.go
  plugins/update/plugin.go
  test/helpers_test.go
  test/lifecycle_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint, go-build, go-test

fix: install golangci-lint in CI before running task ci:test
  .github/workflows/build.yml
Due: none

fix: use tag reference for golangci-lint-action
  .github/workflows/build.yml
Due: none

fix: use golangci-lint-action for linting in CI
  .github/workflows/build.yml
  .taskfiles/ci.yml
Due: none

fix: bump golangci-lint-action to v9
  .github/workflows/build.yml
Due: none

fix: bump golangci-lint-action to v9
  plugins/update/internal/writer.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

fix: pin Task CLI to 3.49.x in CI for includes support
  .github/workflows/build.yml
Due: none

fix: replace task ci:test with direct go test in CI workflow
  .github/workflows/build.yml
  .taskfiles/ci.yml
Due: none

Tighten plugin lifecycle and app context contracts
  cmd/terraci/cmd/app.go
  cmd/terraci/cmd/root.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/plugin/context.go
  pkg/plugin/context_test.go
  pkg/plugin/plugin.go
  pkg/plugin/registry.go
  pkg/plugin/registry_test.go
  plugins/cost/commands.go
  plugins/cost/commands_test.go
  plugins/cost/helpers_test.go
  plugins/cost/lifecycle.go
  plugins/cost/lifecycle_test.go
  plugins/cost/output.go
  plugins/git/detect.go
  plugins/git/lifecycle.go
  plugins/policy/commands.go
  plugins/policy/lifecycle.go
  plugins/policy/lifecycle_test.go
  plugins/summary/commands.go
  plugins/summary/init_wizard.go
  plugins/summary/init_wizard_test.go
  plugins/update/commands.go
  plugins/update/commands_test.go
  plugins/update/helpers_test.go
  plugins/update/lifecycle.go
  plugins/update/lifecycle_test.go
  terraci.schema.json
  test/lifecycle_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

generalize estimator provider registration
  plugins/cost/internal/estimator.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor cost engine core architecture
  plugins/cost/internal/batch.go
  plugins/cost/internal/cloud/aws/resources_test.go
  plugins/cost/internal/estimator.go
  plugins/cost/internal/estimator_test.go
  plugins/cost/internal/executor.go
  plugins/cost/internal/factory.go
  plugins/cost/internal/handler/registry.go
  plugins/cost/internal/handler/registry_test.go
  plugins/cost/internal/prefetch.go
  plugins/cost/internal/provider_router.go
  plugins/cost/internal/provider_runtime_registry.go
  plugins/cost/internal/resolver.go
  plugins/cost/internal/resolver_types.go
  plugins/cost/internal/scanner.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor cost engine package boundaries
  plugins/cost/commands.go
  plugins/cost/commands_test.go
  plugins/cost/helpers_test.go
  plugins/cost/internal/engine/batch.go
  plugins/cost/internal/engine/estimator.go
  plugins/cost/internal/engine/estimator_test.go
  plugins/cost/internal/engine/executor.go
  plugins/cost/internal/engine/factory.go
  plugins/cost/internal/engine/prefetch.go
  plugins/cost/internal/engine/scanner.go
  plugins/cost/internal/engine/terraform_adapter.go
  plugins/cost/internal/engine/terraform_adapter_test.go
  plugins/cost/internal/executor.go
  plugins/cost/internal/model/config_types.go
  plugins/cost/internal/model/formatting.go
  plugins/cost/internal/model/modules.go
  plugins/cost/internal/model/modules_test.go
  plugins/cost/internal/model/result_types.go
  plugins/cost/internal/model/tree.go
  plugins/cost/internal/model/tree_test.go
  plugins/cost/internal/model/types_test.go
  plugins/cost/internal/provider_router.go
  plugins/cost/internal/resolver_types.go
  plugins/cost/internal/runtime/provider_runtime_registry.go
  plugins/cost/internal/runtime/resolver.go
  plugins/cost/internal/types.go
  plugins/cost/lifecycle.go
  plugins/cost/lifecycle_test.go
  plugins/cost/output.go
  plugins/cost/plugin.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

unify cost resolver runtime surface
  plugins/cost/internal/engine/estimator.go
  plugins/cost/internal/engine/estimator_test.go
  plugins/cost/internal/engine/factory.go
  plugins/cost/internal/engine/prefetch.go
  plugins/cost/internal/runtime/provider_runtime_registry.go
  plugins/cost/internal/runtime/provider_runtime_registry_test.go
  plugins/cost/internal/runtime/resolver.go
  plugins/cost/internal/runtime/resolver_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

improve cost test fixtures and presets
  plugins/cost/internal/engine/estimator_test.go
  plugins/cost/internal/engine/terraform_adapter_test.go
  plugins/cost/internal/enginetest/helpers.go
  plugins/cost/internal/enginetest/testdata/plans/create_ec2.json
  plugins/cost/internal/enginetest/testdata/plans/delete_ec2.json
  plugins/cost/internal/enginetest/testdata/plans/empty.json
  plugins/cost/internal/enginetest/testdata/plans/fixed_cost.json
  plugins/cost/internal/enginetest/testdata/plans/mixed_actions.json
  plugins/cost/internal/enginetest/testdata/plans/no_op.json
  plugins/cost/internal/enginetest/testdata/plans/unsupported_resource.json
  plugins/cost/internal/enginetest/testdata/plans/update_ec2.json
  plugins/cost/internal/enginetest/testdata/plans/usage_based.json
  plugins/cost/internal/enginetest/testdata/plans/with_modules.json
  plugins/cost/internal/enginetest/testdata/pricing/ec2_pricing.json
  plugins/cost/internal/runtime/provider_runtime_registry_test.go
  plugins/cost/internal/runtime/resolver_test.go
  plugins/cost/internal/runtimetest/suite.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

extract cost result assembly
  plugins/cost/internal/engine/batch.go
  plugins/cost/internal/engine/executor.go
  plugins/cost/internal/engine/scanner.go
  plugins/cost/internal/results/assembler.go
  plugins/cost/internal/results/assembler_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

split cost runtime catalog and prefetch
  plugins/cost/internal/engine/estimator.go
  plugins/cost/internal/engine/estimator_test.go
  plugins/cost/internal/engine/factory.go
  plugins/cost/internal/engine/prefetch.go
  plugins/cost/internal/runtime/prefetch.go
  plugins/cost/internal/runtime/provider_catalog.go
  plugins/cost/internal/runtime/provider_runtime_registry.go
  plugins/cost/internal/runtime/provider_runtime_registry_test.go
  plugins/cost/internal/runtime/resolver.go
  plugins/cost/internal/runtimetest/suite.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

optimize cost estimation hot paths
  plugins/cost/internal/engine/executor.go
  plugins/cost/internal/engine/scanner.go
  plugins/cost/internal/engine/scanner_test.go
  plugins/cost/internal/pricing/cache.go
  plugins/cost/internal/pricing/cache_test.go
  plugins/cost/internal/runtime/prefetch.go
  plugins/cost/internal/runtime/resolver.go
  plugins/cost/internal/runtime/resolver_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

handle terraform read actions in cost
  plugins/cost/commands_test.go
  plugins/cost/internal/engine/terraform_adapter.go
  plugins/cost/internal/engine/terraform_adapter_test.go
  plugins/cost/output.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor cost plugin outer runtime and contracts
  pkg/ci/types.go
  pkg/plugin/helpers.go
  pkg/plugin/plugin.go
  pkg/plugin/registry_test.go
  plugins/cost/commands.go
  plugins/cost/commands_test.go
  plugins/cost/lifecycle.go
  plugins/cost/lifecycle_test.go
  plugins/cost/output.go
  plugins/cost/pipeline.go
  plugins/cost/pipeline_test.go
  plugins/cost/plugin.go
  plugins/cost/report.go
  plugins/cost/runtime.go
  plugins/cost/testkit_test.go
  plugins/cost/usecases.go
  plugins/github/generator.go
  plugins/gitlab/generator.go
  plugins/policy/lifecycle.go
  plugins/policy/lifecycle_test.go
  plugins/policy/pipeline.go
  plugins/policy/pipeline_test.go
  plugins/policy/plugin.go
  plugins/summary/pipeline.go
  plugins/update/lifecycle.go
  plugins/update/lifecycle_test.go
  plugins/update/pipeline.go
  plugins/update/pipeline_test.go
  plugins/update/plugin.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor policy and update plugin outer layers
  plugins/policy/commands.go
  plugins/policy/commands_test.go
  plugins/policy/output.go
  plugins/policy/report.go
  plugins/policy/testkit_test.go
  plugins/policy/usecases.go
  plugins/update/commands.go
  plugins/update/commands_test.go
  plugins/update/output_test.go
  plugins/update/report.go
  plugins/update/runtime.go
  plugins/update/testkit_test.go
  plugins/update/usecases.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

add shared plugin test helpers
  pkg/plugin/plugintest/helpers.go
  plugins/cost/helpers_test.go
  plugins/cost/testkit_test.go
  plugins/policy/lifecycle_test.go
  plugins/policy/pipeline_test.go
  plugins/policy/testkit_test.go
  plugins/update/helpers_test.go
  plugins/update/testkit_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refine plugin preflight lifecycle
  cmd/terraci/cmd/root.go
  pkg/plugin/plugin.go
  pkg/plugin/registry.go
  pkg/plugin/registry_test.go
  plugins/cost/lifecycle.go
  plugins/git/detect.go
  plugins/git/lifecycle.go
  plugins/git/plugin.go
  plugins/github/lifecycle.go
  plugins/github/plugin.go
  plugins/gitlab/lifecycle.go
  plugins/gitlab/plugin.go
  plugins/policy/lifecycle.go
  plugins/update/lifecycle.go
  plugins/update/lifecycle_test.go
  plugins/update/runtime.go
  test/lifecycle_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

add plugin runtime contract
  pkg/plugin/plugintest/helpers.go
  pkg/plugin/registry_test.go
  pkg/plugin/runtime.go
  plugins/cost/lifecycle_test.go
  plugins/cost/runtime.go
  plugins/cost/usecases.go
  plugins/policy/commands.go
  plugins/policy/lifecycle_test.go
  plugins/policy/runtime.go
  plugins/policy/usecases.go
  plugins/update/commands_test.go
  plugins/update/helpers_test.go
  plugins/update/lifecycle_test.go
  plugins/update/plugin.go
  plugins/update/runtime.go
  plugins/update/usecases.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

document plugin runtime architecture
  AGENTS.md
  pkg/plugin/doc.go
  pkg/plugin/runtime.go
  pkg/plugin/runtime_example_test.go
  plugins/cost/runtime.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor summary plugin outer flow
  plugins/summary/commands.go
  plugins/summary/commands_test.go
  plugins/summary/helpers_test.go
  plugins/summary/testkit_test.go
  plugins/summary/usecases.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

remove legacy plugin initialize hook
  AGENTS.md
  pkg/plugin/doc.go
  pkg/plugin/helpers.go
  pkg/plugin/plugin.go
  pkg/plugin/registry.go
  pkg/plugin/registry_test.go
  pkg/plugin/runtime.go
  plugins/cost/lifecycle.go
  plugins/cost/lifecycle_test.go
  plugins/git/lifecycle.go
  plugins/github/lifecycle.go
  plugins/gitlab/lifecycle.go
  plugins/policy/lifecycle.go
  plugins/policy/lifecycle_test.go
  plugins/update/lifecycle.go
  test/lifecycle_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

add plugin contract regression tests
  test/plugin_contracts_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

align plugin output summaries
  plugins/cost/commands_test.go
  plugins/cost/output.go
  plugins/cost/pipeline.go
  plugins/cost/testkit_test.go
  plugins/policy/commands.go
  plugins/policy/commands_test.go
  plugins/policy/output.go
  plugins/policy/pipeline.go
  plugins/update/output.go
  plugins/update/output_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

unify plugin report artifact handling
  pkg/ci/report.go
  pkg/ci/report_test.go
  pkg/plugin/plugintest/helpers.go
  plugins/cost/testkit_test.go
  plugins/summary/commands_test.go
  plugins/summary/helpers_test.go
  plugins/summary/internal/enrich.go
  plugins/summary/internal/report_loader.go
  plugins/summary/usecases.go
  plugins/update/testkit_test.go
  test/policy_test.go
  test/summary_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

polish init wizard plugin UX
  cmd/terraci/cmd/init.go
  cmd/terraci/cmd/init_test.go
  plugins/policy/init_wizard.go
  plugins/summary/init_wizard.go
  plugins/update/init_wizard.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

fix(update): separate available and applied update states
  plugins/update/commands.go
  plugins/update/commands_test.go
  plugins/update/internal/checker.go
  plugins/update/internal/checker_test.go
  plugins/update/internal/registry.go
  plugins/update/internal/types.go
  plugins/update/output.go
  plugins/update/output_test.go
  plugins/update/report.go
  plugins/update/usecases.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor(update): split internal engine into focused packages
  plugins/update/internal/apply_service.go
  plugins/update/internal/apply_service_test.go
  plugins/update/internal/checker.go
  plugins/update/internal/checker/checker_test.go
  plugins/update/internal/checker/module.go
  plugins/update/internal/checker/provider.go
  plugins/update/internal/checker/service.go
  plugins/update/internal/checker/update_builders.go
  plugins/update/internal/checker/version_resolver.go
  plugins/update/internal/checker/walker.go
  plugins/update/internal/entities.go
  plugins/update/internal/registry.go
  plugins/update/internal/registryclient/client.go
  plugins/update/internal/registryclient/client_test.go
  plugins/update/internal/registryclient/source.go
  plugins/update/internal/registryclient/source_test.go
  plugins/update/internal/result.go
  plugins/update/internal/summary.go
  plugins/update/internal/tffile/finder.go
  plugins/update/internal/tffile/finder_test.go
  plugins/update/internal/tfwrite/writer.go
  plugins/update/internal/tfwrite/writer_test.go
  plugins/update/internal/types.go
  plugins/update/output.go
  plugins/update/report.go
  plugins/update/runtime.go
  plugins/update/usecases.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test
