Repository edelwud/terraci: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint, go-build, go-test, generate-schema, goreleaser-check

.pre-commit-config.yaml:

# yaml-language-server: $schema=https://json.schemastore.org/pre-commit-config.json
repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: 'terraci.schema.json'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Local hooks (using explicit PATH for Homebrew Go)
  - repo: local
    hooks:
      # Go formatting
      - id: go-fmt
        name: go fmt
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" gofmt -l -w $(find . -name "*.go" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      # Go imports
      - id: go-imports
        name: go imports
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" goimports -l -w $(find . -name "*.go" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      # Go mod tidy
      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" go mod tidy'
        language: system
        pass_filenames: false
        files: 'go\.mod$'

      # golangci-lint
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" golangci-lint run --timeout=5m'
        language: system
        pass_filenames: false
        types: [go]

      # Go build check
      - id: go-build
        name: go build
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" go build ./...'
        language: system
        pass_filenames: false
        types: [go]

      # Go tests
      - id: go-test
        name: go test
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" go test -race -short ./...'
        language: system
        pass_filenames: false
        types: [go]

      # Generate JSON schema
      - id: generate-schema
        name: generate schema
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" go build -o /tmp/terraci ./cmd/terraci && /tmp/terraci schema -o terraci.schema.json && git add terraci.schema.json'
        language: system
        pass_filenames: false
        files: 'pkg/config/.*\.go$'

      # goreleaser check
      - id: goreleaser-check
        name: goreleaser check
        entry: bash -c 'PATH="/opt/homebrew/bin:$PATH" goreleaser check'
        language: system
        pass_filenames: false
        files: '\.goreleaser\.yaml$'

feat(policy): add OPA-based policy checks for Terraform plans
  CLAUDE.md
  README.md
  cmd/terraci/cmd/policy.go
  cmd/terraci/cmd/summary.go
  cmd/terraci/cmd/version.go
  docs/.vitepress/config.mts
  docs/cli/policy.md
  docs/config/policy.md
  examples/README.md
  examples/policy-checks/.gitlab-ci.yml
  examples/policy-checks/.terraci.yaml
  examples/policy-checks/README.md
  examples/policy-checks/policies/ec2.rego
  examples/policy-checks/policies/s3.rego
  examples/policy-checks/policies/tags.rego
  go.mod
  go.sum
  internal/gitlab/comment.go
  internal/gitlab/mr_service.go
  internal/pipeline/gitlab/generator.go
  internal/policy/checker.go
  internal/policy/checker_test.go
  internal/policy/engine.go
  internal/policy/engine_test.go
  internal/policy/result.go
  internal/policy/result_test.go
  internal/policy/source.go
  internal/policy/source_git.go
  internal/policy/source_oci.go
  internal/policy/source_path.go
  internal/policy/source_test.go
  pkg/config/config.go
  terraci.schema.json
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint, go-build, go-test, generate-schema

docs: add Russian localization for policy documentation
  docs/.vitepress/config.mts
  docs/ru/cli/index.md
  docs/ru/cli/policy.md
  docs/ru/config/policy.md
Due: none

ci: add coverage reporting to build workflow
  .github/workflows/build.yml
Due: none

ci: add codecov token for build and test workflow
  .github/workflows/build.yml
Due: none

feat(generate): add library module usage to verbose output
  cmd/terraci/cmd/generate.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor: extract GeneratedPipeline interface and parallelize dependency extraction
  cmd/terraci/cmd/generate.go
  internal/parser/dependency.go
  internal/parser/hcl.go
  internal/pipeline/gitlab/generator.go
  internal/pipeline/gitlab/generator_test.go
  internal/pipeline/gitlab/types.go
  internal/pipeline/pipeline.go
  test/e2e/edge_cases_test.go
  test/e2e/fixture_test.go
  test/e2e/pipeline_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

fix(generate): handle terraform plan -detailed-exitcode correctly
  internal/pipeline/gitlab/generator.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

fix: mr enabled terraform status extraction
  internal/pipeline/gitlab/generator.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor(plan): extract terraform plan parsing to internal/terraform/plan
  go.mod
  go.sum
  internal/gitlab/plan_result.go
  internal/gitlab/plan_result_test.go
  internal/pipeline/gitlab/generator.go
  internal/terraform/plan/parser.go
  internal/terraform/plan/parser_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint, go-build, go-test

fix(generate): ensure plan.json is created before exit
  internal/pipeline/gitlab/generator.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor(gitlab): improve MR comment formatting for plan results
  internal/gitlab/comment.go
  internal/gitlab/comment_test.go
  internal/gitlab/plan_result.go
  internal/gitlab/plan_result_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

feat(cost): add AWS cost estimation module
  cmd/terraci/cmd/summary.go
  internal/cost/aws/ec2.go
  internal/cost/aws/ec2_test.go
  internal/cost/aws/eks.go
  internal/cost/aws/eks_test.go
  internal/cost/aws/elasticache.go
  internal/cost/aws/elasticache_test.go
  internal/cost/aws/elb.go
  internal/cost/aws/elb_test.go
  internal/cost/aws/rds.go
  internal/cost/aws/rds_test.go
  internal/cost/aws/registry.go
  internal/cost/aws/registry_test.go
  internal/cost/aws/serverless.go
  internal/cost/aws/storage.go
  internal/cost/estimator.go
  internal/cost/estimator_test.go
  internal/cost/pricing/cache.go
  internal/cost/pricing/fetcher.go
  internal/cost/pricing/types.go
  internal/cost/pricing/types_test.go
  internal/cost/types.go
  internal/cost/types_test.go
  internal/gitlab/comment.go
  internal/gitlab/comment_cost_test.go
  internal/gitlab/plan_result.go
  pkg/config/config.go
  terraci.schema.json
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

chore: change formatting
  .gitignore
  internal/cost/estimator_test.go
  internal/discovery/module.go
  internal/gitlab/plan_result.go
  internal/parser/hcl.go
  internal/parser/hcl_test.go
  internal/pipeline/gitlab/generator_test.go
  internal/policy/checker.go
  internal/policy/engine.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

chore: change CLAUDE.md file
  CLAUDE.md
Due: none

chore: allow LicenseRef-scancode-google-patent-license-golang policy for deps
  .github/workflows/security.yml
Due: none

feat: add GitHub Actions support, interactive init, and refactor CI abstractions
  cmd/terraci/cmd/generate.go
  cmd/terraci/cmd/init.go
  cmd/terraci/cmd/summary.go
  go.mod
  go.sum
  internal/ci/comment.go
  internal/ci/plan_result.go
  internal/ci/plan_result_test.go
  internal/ci/service.go
  internal/ci/types.go
  internal/github/client.go
  internal/github/context.go
  internal/github/pr_service.go
  internal/gitlab/comment.go
  internal/gitlab/comment_cost_test.go
  internal/gitlab/comment_test.go
  internal/gitlab/plan_result.go
  internal/gitlab/plan_result_test.go
  internal/pipeline/github/generator.go
  internal/pipeline/github/types.go
  internal/pipeline/gitlab/generator_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  terraci.schema.json
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint, go-build, go-test, generate-schema

test: improve test coverage from 60.6% to 79.4%
  internal/ci/comment_test.go
  internal/ci/plan_result_test.go
  internal/cost/aws/serverless_test.go
  internal/cost/aws/storage_test.go
  internal/cost/estimator_test.go
  internal/cost/pricing/cache_test.go
  internal/cost/pricing/fetcher_test.go
  internal/filter/glob_test.go
  internal/github/client_test.go
  internal/github/context_test.go
  internal/github/pr_service_test.go
  internal/gitlab/comment_test.go
  internal/gitlab/plan_result_test.go
  internal/graph/dependency_test.go
  internal/pipeline/github/generator_test.go
  internal/pipeline/gitlab/generator_test.go
  internal/policy/source_path_test.go
  pkg/config/config_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

fix: resolve CI test failures and lint warnings
  cmd/terraci/cmd/graph.go
  internal/ci/comment.go
  internal/ci/plan_result.go
  internal/cost/pricing/cache.go
  internal/cost/types.go
  internal/github/context.go
  internal/graph/dependency.go
  pkg/config/config_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

feat: make Module struct pattern-aware with dynamic components
  cmd/terraci/cmd/generate.go
  cmd/terraci/cmd/summary.go
  docs/guide/dependencies.md
  docs/ru/guide/dependencies.md
  examples/cross-env-deps/README.md
  internal/ci/comment.go
  internal/ci/comment_test.go
  internal/ci/plan_result.go
  internal/ci/plan_result_test.go
  internal/ci/types.go
  internal/discovery/collector.go
  internal/discovery/module.go
  internal/discovery/module_test.go
  internal/filter/glob.go
  internal/filter/glob_test.go
  internal/gitlab/comment_cost_test.go
  internal/gitlab/comment_test.go
  internal/gitlab/plan_result_test.go
  internal/graph/dependency_test.go
  internal/parser/dependency.go
  internal/parser/dependency_test.go
  internal/parser/hcl.go
  internal/pipeline/github/generator.go
  internal/pipeline/github/generator_test.go
  internal/pipeline/gitlab/generator.go
  internal/pipeline/gitlab/generator_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/pattern.go
  pkg/config/pattern_test.go
  test/e2e/edge_cases_test.go
  test/e2e/fixture_test.go
  test/e2e/helpers_test.go
  test/e2e/pipeline_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

docs: polish examples — add basic and github-actions, fix configs
  examples/.gitlab-ci.yml
  examples/.terraci.yaml
  examples/README.md
  examples/basic/.terraci.yaml
  examples/basic/README.md
  examples/basic/platform/stage/eu-central-1/app/main.tf
  examples/basic/platform/stage/eu-central-1/eks/main.tf
  examples/basic/platform/stage/eu-central-1/vpc/main.tf
  examples/github-actions/.terraci.yaml
  examples/github-actions/README.md
  examples/github-actions/platform/stage/eu-central-1/eks/main.tf
  examples/github-actions/platform/stage/eu-central-1/vpc/main.tf
  examples/library-modules/.terraci.yaml
  examples/policy-checks/.terraci.yaml
Due: none

refactor: remove unused BackendConfig, document state namespace limitation
  CLAUDE.md
  README.md
  docs/config/index.md
  docs/guide/dependencies.md
  docs/ru/config/index.md
  docs/ru/guide/dependencies.md
  examples/basic/.terraci.yaml
  examples/github-actions/.terraci.yaml
  examples/library-modules/.terraci.yaml
  pkg/config/config.go
  pkg/config/config_test.go
  terraci.schema.json
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

feat: improve graph visualization and stats
  cmd/terraci/cmd/graph.go
  examples/policy-checks/.terraci/policy-results.json
  internal/graph/stats.go
  internal/graph/visualize.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

feat: fix policy checks — OPA loading, glob matching, overwrites, examples
  .gitignore
  cmd/terraci/cmd/root.go
  cmd/terraci/main.go
  examples/policy-checks/.gitignore
  examples/policy-checks/.terraci.yaml
  examples/policy-checks/.terraci/policy-results.json
  examples/policy-checks/README.md
  examples/policy-checks/compliance/cost.rego
  examples/policy-checks/legacy/old/eu-central-1/db/main.tf
  examples/policy-checks/legacy/old/eu-central-1/db/plan.json
  examples/policy-checks/platform/sandbox/eu-central-1/test/main.tf
  examples/policy-checks/platform/sandbox/eu-central-1/test/plan.json
  examples/policy-checks/platform/stage/eu-central-1/app/main.tf
  examples/policy-checks/platform/stage/eu-central-1/app/plan.json
  examples/policy-checks/platform/stage/eu-central-1/bad/main.tf
  examples/policy-checks/platform/stage/eu-central-1/bad/plan.json
  examples/policy-checks/platform/stage/eu-central-1/vpc/main.tf
  examples/policy-checks/platform/stage/eu-central-1/vpc/plan.json
  examples/policy-checks/policies/s3.rego
  examples/policy-checks/terraform/ec2.rego
  examples/policy-checks/terraform/s3.rego
  examples/policy-checks/terraform/tags.rego
  internal/policy/checker.go
  internal/policy/checker_test.go
  internal/policy/engine.go
  pkg/config/config.go
  pkg/config/config_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

docs: rewrite policy configuration docs (EN + RU)
  docs/config/policy.md
  docs/ru/config/policy.md
Due: none

docs: add cost estimation example
  examples/README.md
  examples/cost-estimation/.terraci.yaml
  examples/cost-estimation/README.md
  examples/cost-estimation/platform/prod/eu-central-1/eks/main.tf
  examples/cost-estimation/platform/prod/eu-central-1/rds/main.tf
  examples/cost-estimation/platform/prod/eu-central-1/vpc/main.tf
Due: none

feat: add terraci cost command, fix pricing lookups, mock AWS in tests
  cmd/terraci/cmd/cost.go
  examples/cost-estimation/platform/prod/eu-central-1/eks/plan.json
  examples/cost-estimation/platform/prod/eu-central-1/rds/plan.json
  examples/cost-estimation/platform/prod/eu-central-1/vpc/plan.json
  internal/cost/aws/ec2.go
  internal/cost/aws/ec2_test.go
  internal/cost/aws/eks.go
  internal/cost/aws/eks_test.go
  internal/cost/aws/elasticache.go
  internal/cost/aws/elasticache_test.go
  internal/cost/aws/elb.go
  internal/cost/aws/elb_test.go
  internal/cost/aws/rds.go
  internal/cost/aws/rds_test.go
  internal/cost/aws/registry.go
  internal/cost/aws/serverless.go
  internal/cost/aws/storage.go
  internal/cost/estimator.go
  internal/cost/estimator_test.go
  internal/cost/pricing/cache.go
  internal/cost/pricing/cache_test.go
  internal/cost/pricing/fetcher.go
  internal/cost/pricing/fetcher_test.go
  internal/parser/hcl.go
  internal/pipeline/gitlab/generator.go
  internal/pipeline/gitlab/types.go
  pkg/config/config.go
  test/e2e/helpers_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

docs: add terraci cost command to README, docs, and examples
  README.md
  docs/cli/cost.md
  docs/cli/index.md
  docs/config/cost.md
  docs/ru/cli/cost.md
  docs/ru/cli/index.md
  docs/ru/config/cost.md
  examples/cost-estimation/README.md
Due: none

docs: update CLAUDE.md — fix contradictions, add new features
  CLAUDE.md
Due: none

chore: remove dead code — unused functions, empty files, backward-compat fields
  internal/ci/plan_result.go
  internal/ci/plan_result_test.go
  internal/ci/types.go
  internal/git/client.go
  internal/git/client_test.go
  internal/gitlab/plan_result.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

fix: cost estimation includes all resources, not just changed ones
  internal/cost/aws/storage/cloudwatch.go
  internal/cost/aws/storage/cloudwatch_test.go
  internal/cost/aws/storage/kms.go
  internal/cost/aws/storage/route53.go
  internal/cost/aws/storage/route53_test.go
  internal/cost/aws/storage/secrets.go
  internal/cost/estimator.go
  internal/cost/estimator_test.go
  internal/terraform/plan/parser.go
  internal/terraform/plan/parser_test.go
  internal/terraform/plan/types.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor: architectural cleanup — shared pipeline logic, interfaces, config
  cmd/terraci/cmd/generate.go
  cmd/terraci/cmd/init.go
  cmd/terraci/cmd/summary.go
  internal/parser/dependency.go
  internal/parser/dependency_test.go
  internal/parser/hcl_test.go
  internal/parser/resolve.go
  internal/parser/resolve_test.go
  internal/parser/types.go
  internal/pipeline/common.go
  internal/pipeline/github/generator.go
  internal/pipeline/github/generator_test.go
  internal/pipeline/gitlab/generator.go
  internal/pipeline/gitlab/generator_test.go
  internal/pipeline/pipeline.go
  internal/pipeline/scripts.go
  internal/workflow/module_workflow.go
  pkg/config/config.go
  test/e2e/edge_cases_test.go
  test/e2e/helpers_test.go
  test/e2e/pipeline_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

chore: remove deprecated ResolveProvider function
  pkg/config/config.go
  pkg/config/config_test.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema

feat: segment-tree cost output, per-service cache status, prefetch diagnostics
  cmd/terraci/cmd/cost.go
  internal/cost/estimator.go
  internal/cost/pricing/cache.go
  internal/cost/types.go
Due: go-fmt, go-imports, golangci-lint, go-build, go-test

refactor: remove MinDepth/MaxDepth/AllowSubmodules — pattern-based module discovery
  CLAUDE.md
  cmd/terraci/cmd/filters.go
  cmd/terraci/cmd/init_config.go
  cmd/terraci/cmd/init_tui.go
  docs/cli/init.md
  docs/config/index.md
  docs/config/structure.md
  docs/guide/getting-started.md
  docs/guide/project-structure.md
  docs/guide/submodules.md
  docs/ru/cli/init.md
  docs/ru/cli/validate.md
  docs/ru/config/index.md
  docs/ru/config/structure.md
  docs/ru/guide/getting-started.md
  docs/ru/guide/project-structure.md
  docs/ru/guide/submodules.md
  examples/basic/.terraci.yaml
  examples/cost-estimation/.terraci.yaml
  examples/cross-env-deps/.terraci.yaml
  examples/github-actions/.terraci.yaml
  examples/library-modules/.terraci.yaml
  examples/policy-checks/.terraci.yaml
  internal/discovery/collector.go
  internal/discovery/scanner.go
  internal/discovery/scanner_test.go
  internal/workflow/module_workflow.go
  internal/workflow/module_workflow_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  terraci.schema.json
  test/e2e/helpers_test.go
  test/e2e/testdata/basic/.terraci.yaml
  test/e2e/testdata/cyclic/.terraci.yaml
  test/e2e/testdata/submodules/.terraci.yaml
Due: go-fmt, go-imports, golangci-lint, go-build, go-test, generate-schema
